body{
	max-width: 100%;
}

input, button{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.input-display{
	width: 90%;
	height: 60px;
	font: 36px Arial, sans-serif;
	text-align: right;
	pointer-events: none;
}

.button-display{
	display: flex;
}

.button-size1{
	width: 33.3%;
	height: 60px;
	margin-left: 10px;
	font: 32px Arial, sans-serif;
}


.button-size2{
	width: 25%;
	height: 60px;
	margin-left: 8px;
	font: 28px Arial, sans-serif;
}

.button-backspace{
	width: 10%;
	height: 60px;
	font: 28 Arial, sans-serif;
}

#swipeElement {
  background: lightgrey;
  height: 150px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

#clearElement {
  background: lightgrey;
  height: 150px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}